{% extends 'base.html.twig' %}

{% block body %}
    <h1>Series, vos series favorites !</h1>
    <p>Explorez un univers infini de séries à travers notre application,
        où vous pouvez non seulement découvrir les meilleures séries et leurs saisons,
        mais aussi partager vos propres coups de cœur. Rejoignez notre communauté enregistrée et
        contribuez à faire de chaque session de visionnage une expérience partagée et enrichissante!"</p>
{% endblock %}

{% block title %} {{ parent() }} | Home{% endblock %}