{% extends 'base.html.twig' %}

{% block body %}
   <div>
       {# afficher le formulaire de creation #}
   </div>

{% endblock %}

{% block title %}
    Create new serie | {{ parent() }}

{% endblock %}

